.node {
  stroke: #fff;
  stroke-width: 1.5px;
}
body {
    background-color: #2F2F2F;
}
html {
    fill: #FFF;
    font-size: 18px;
font-weight: lighter;
}

.link {
  stroke: #FFF;
  stroke-opacity: .6;
}


