.link {
  stroke: #888;
  stroke-width: 1.5px;
}

.circle {
  cursor: move;
  stroke: #222;
  stroke-width: 1.5px;
}

text {
    fill: #111;
    font: 12px sans-serif;
    cursor: move;
}

body {
    background: #EEE;
}
